html.fsvs {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden; }
  html.fsvs #fsvs-body {
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%; }
    html.fsvs #fsvs-body > * {
      height: 100%;
      width: 100%;
      overflow: hidden;
      -webkit-backface-visibility: hidden;
      -webkit-perspective: 1000; }
  html.fsvs #fsvs-pagination {
    margin: 0;
    padding: 8px 4px;
    position: fixed;
    height: auto;
    right: -100px;
    top: 50%;
    z-index: 999;
    width: 32px; }
    html.fsvs #fsvs-pagination li {
      list-style: none;
      width: 25px;
      height: 25px;
      line-height: 25px;
      text-align: center;
      margin: 0 0 2px 0;
      cursor: pointer; }
      html.fsvs #fsvs-pagination li > span {
        border-radius: 100%;
        width: 22px;
        height: 22px;
        line-height: 22px;
        border: 1px solid white;
        display: block; }
        html.fsvs #fsvs-pagination li > span > span {
          border-radius: 100%;
          width: 12px;
          height: 12px;
          line-height: 12px;
          border: 1px solid white;
          display: block;
          margin: 4px; }
      html.fsvs #fsvs-pagination li.active > span {
        border: 1px dashed white; }
        html.fsvs #fsvs-pagination li.active > span > span {
          background: white; }
      html.fsvs #fsvs-pagination li:last-child {
        margin: 0; }

html.fsvs .slide {padding-top: 90px; }
  .nth-class-1 {background-color: #fd535b;color:#FFF !important;}
  .nth-class-2 {background-color: #3c3e47;}

.slide h1{font-size: 10vw;line-height: 1.2; color:#fff; text-align:right; margin-right:2.5em;}
.nth-class-1 h2 {color:#3c3e47;}
  .site-footer {
      position: fixed;
      bottom: 0;
      z-index: 999;
      height: 100px !important;
  }

  .slide ul {
    list-style-type: none;
    text-align: center;
    font-size:3.5vw;
  }
  /* Custom, iPhone Retina */
   @media only screen and (min-width : 320px) {

   }

   /* Extra Small Devices, Phones */
   @media only screen and (min-width : 480px) {

   }

   /* Small Devices, Tablets */
   @media only screen and (min-width : 768px) {
     .slide h1{font-size: 6.8vw;margin-right: 2em;}

     .slide ul li{
       float:left;
       margin-left:1em;
     }
      .slide ul li:first-child {margin-left:0;}
   }

   /* Medium Devices, Desktops */
   @media only screen and (min-width : 992px) {

   }

   /* Large Devices, Wide Screens */
   @media only screen and (min-width : 1200px) {

   }
