$font__main: 'Hind', sans-serif;
$font__secondary: 'Inconsolata', monospace;
$font__code: 'Inconsolata', monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
